body{
    font-size:20px;
    font-family:Calibri;
    color:black;
    margin:0px;
    background-color:white;
}

.bar{
    margin-top:5px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:5px;
    display:flex;
    align-items:center;
}
.bar div{
    padding-left:5px;
    flex:50%;
    font-weight:bold;
}

.bar div:hover{
cursor:pointer;
}

.desktop{
    display:block;
    padding-right:5px;
    flex:50%;
    display:flex;
    justify-content:flex-end;
}

.desktop span{
    flex:none;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
}

.desktop span:hover{
    background-color:#84A5AC;
    color:white;
}
.bar img{
    display:none;
    width:30px;
    height:30px;
    /* background-color:white; */
    object-fit:cover;
    cursor:pointer;
}

#m-menu{
    background-color:white;
    border-left:2px solid white;
    text-align:center;
    position:absolute; right:0px;top:0px;
    width:150px;
    height:100%;
    background-color:white;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    z-index:1;
    position:fixed;
}

#menu{
    /* padding-top:5px;
    padding-bottom:5px; */
    margin-top:35px;
    cursor:pointer;
}

#menu div{
    padding-top:5px;
    padding-bottom:5px;
    color:#84A5AC;
}

#menu div:hover{
    color:white;
    background-color:#84A5AC;
}

#m-menu img{
    position:absolute; right:0px;top:5px;
}

.hide{
    display:none;
}

.header{
    background-image:url(header.JPG);
    background-size:cover;
    height:250px;
    display:flex;
    align-items:center;             /*垂直 - 上中下置中*/
    justify-content:center;         /*水平 - 左中右置中*/
}
.header span{
    font-size:40px;
    flex:none;
}

.main{
    margin-top:20px;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.option{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}

.box{
    height:50px;
    background-color:#84A5AC;
    flex:30%;
    display:flex;
    margin:10px;
    align-items:center;
}

.box:hover{
    transform:scale(1.02);
    cursor:pointer;
}

.box img{
    flex:none;
    object-fit:cover;
    height:50px;
    width:80px;
    margin:0px;
}

.box span{
    flex:none;
    margin-left:5px;
}

.section{
    display:flex;
    flex-wrap:wrap;
}

.section div{
    flex:14%;
    margin:10px;
    display:flex;
    height:250px;
    border:2px solid #84A5AC;
    background-image:url(p4.JPG);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
    position:relative;
}

.empty{
    position:absolute;
    width:20px;
    height:20px;
    top:5px;
    right:5px;
    cursor:pointer;
}

.word{
    background-color:rgba(255, 255, 255, 0.8);
    width:100%;
    text-align:center;
    position:absolute;
    bottom:0px;
}

.section div:hover{
    font-weight:bold;
    /* color:#6C6CAA; */
    color:#84A5AC;
    cursor:pointer;
}

/* .try{
    object-fit:cover;
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:90%;
    flex:none;
} */


/* .filled{
    position:absolute;
    width:20px;
    height:20px;
    top:5px;
    right:5px;
    cursor:pointer;
} */

/* .section div{
    flex:15%;
    margin:10px;
    background-image:url(p2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
} */

/* .section img{
     width:100%;
    height:90%;
    flex:none;
    background-image:url(p2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
} */

/* .word{
    background-color:rgba(255, 255, 255, 0.5);
    position:absolute;
    text-align:center;
    bottom:0;
    width:100%;
    padding-bottom:5px;
    padding-top:5px;
} */

@media (max-width:1200px){
    .box{flex:40%}
    .main{width:90%}
    .section div{flex:20%}
}

@media (max-width:600px){
    .header span{font-size:35px}
    .desktop{display:none}
    .bar img{display:block}
    .main{width:90%}
    .box{flex:100%}
    .section div{flex:100%}
}