<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>主頁</title>
        <link rel="stylesheet" type="text/css" a href="{{url_for('static',filename='Layout.css')}}"/>
    </head>
    <body>
        <div class="header">歡迎光臨我的網站</div>
        <br/>
        <div class="fill_in">
            <div style="font-weight:bold;">會員登入</div>
            <form action="/signin" method="POST" id="form">
                <div>賬號 <input type="text" name="acc"/></div>
                <div>密碼 <input type="password" name="pw"/></div>
                <br/>
                <div id="checkbox_word"><input type="checkbox" id="check"> 同意條款</input></div>
                <div id="warning">請先同意條款</div>
                <button type="submit" id="btn">登入</button>
            </form>
        </div>

        <script type="text/javascript">
            var form=document.querySelector("#form");
            var checkbox=document.querySelector("#check");
            var warning=document.querySelector("#warning");
            form.addEventListener("submit", function(submit){
                if(checkbox.checked==false){
                    warning.style.display="block";
                    submit.preventDefault();
                }
            })
            
        </script>
    </body>
</html>