<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>會員頁面</title>
        <link rel="stylesheet" type="text/css" a href="{{url_for('static',filename='Layout.css')}}"/>
    </head>
    <body>
        <div class="header_member">
            <img src="/icon.png"/>
            <span>登入成功</span>
            <a href="/signout">登出</a>
        </div>
        <div>你好{{ message }}，歡迎光臨我的頁面</div>
    </body>
</html>