<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>會員頁面</title>
        <link rel="stylesheet" type="text/css" a href="{{url_for('static',filename='Layout.css')}}"/>
    </head>
    <body>
        <div class="header_member">
            <img src="/icon.png"/>
            <span>登入成功</span>
            <a href="/signout">登出</a>
        </div>
        <div>你好{{ loggedin_user }}，歡迎來到留言小區</div>
        <!-- <div class="subsection_title">留言區</div> -->
        <form action="/createMessage" method="POST" id="form3">
            <!-- <div class="title">來吧，想説就説！</div> -->
            <input type="text" name="content" placeholder="來吧，想説就説！" required/>
            <button type="submit">送出留言</button>
        </form>
        <br/>
        <div class="comment">
            <div class="subsection_title">留言區</div>
            <table>
                <tr>
                    <th>留言者</th>
                    <th>留言内容</th>
                </tr>
                {% for i in all_comment %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>